.home-section {
  background: url(../components/assets/imgs/top-bg.svg) no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .left-text {
    display: flex;
    justify-content: space-between;
    align-items: start;
    .left {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      .lang-group {
        color: rgba(44, 45, 46, 1);
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
      h1 {
        color: rgba(44, 45, 46, 1);
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
      .lorem-p {
        color: rgba(44, 45, 46, 1);
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        width: 582px;
        height: 69px;
        top: 328px;
        left: 116px;
        gap: 0px;
        opacity: 0px;
        @media (max-width: 595px) {
          width: 250px;
        }
      }
      button {
        width: Hug (102px) px;
        height: Hug (40px) px;
        top: 413px;
        left: 116px;
        padding: 10px 20px 10px 20px;
        gap: 10px;
        border-radius: 4px;
        opacity: 0px;
        background: rgba(239, 124, 0, 1);
        cursor: pointer;
        border: none;
        color: #fff;
        font-family: "Montserrat", sans-serif;
        &:hover {
          background: rgba(239, 124, 0, 0.8);
        }
      }
    }
    .socail-media {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
      img {
        width: 30px;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
      }
      @media (max-width: 706px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }
    }
    @media (max-width: 706px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }
  }
}
.section-two {
  margin-top: 50px;
  h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-bottom: 15px;
    span {
      color: rgba(239, 124, 0, 1);
    }
  }
  .information-video {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .video-play {
      position: relative;
      img {
        max-width: 100%;
      }
      .playIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        cursor: pointer;
      }
    }

    p {
      color: rgba(44, 45, 46, 1);
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      width: 552px;
      height: 300px;
      @media (max-width: 1162px) {
        width: 250px;
      }
    }
    @media (max-width: 1162px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
}
.carousel-section {
  margin-top: 50px;
  @media (max-width: 1162px) {
    margin-top: 40vh;
  }
  h1 {
    color: rgba(44, 45, 46, 1);
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-bottom: 25px;
    span {
      color: rgba(239, 124, 0, 1);
    }
  }
  .carousel-images {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @media (max-width: 1162px) {
      flex-wrap: wrap;
    }
  }
  .next-prev {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    @media (max-width: 1162px) {
      flex-direction: column;
    }
    .prev {
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
    .next {
      cursor: pointer;
      rotate: -180deg;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
.section-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  .in__contents {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    .page__btns {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;
      margin-top: 20px;
      button {
        width: Hug (165px) px;
        height: Fixed (38px) px;
        padding: 10px 20px 10px 20px;
        gap: 10px;
        border-radius: 61px;
        border: 1px solid rgba(0, 16, 61, 0.12);
        color: rgba(239, 124, 0, 1);
        font-family: "Montserrat", sans-serif;
        cursor: pointer;
        &:hover {
          background: rgba(239, 124, 0, 0.8);
          color: #fff;
        }
      }
    }
    .page__cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      margin-top: 20px;
      @media (max-width: 1162px) {
        flex-wrap: wrap;
      }
      @media (max-width: 706px) {
        flex-direction: column;
      }
    }
    button {
      width: Hug (186px) px;
      height: Hug (40px) px;
      padding: 10px 20px 10px 20px;
      gap: 10px;
      border-radius: 4px;
      border: 1px;
      border: 1px solid rgba(239, 124, 0, 1);
      cursor: pointer;
      font-family: "Montserrat", sans-serif;
      color: rgba(239, 124, 0, 1);
    }
  }
  h1 {
    color: rgba(44, 45, 46, 1);
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  span {
    color: rgb(239, 124, 0);
  }
}
.section-five {
  margin-top: 50px;
  .ajsdajskdgjk {
    display: flex;
    justify-content: center;
    .five-section-card {
      background: url(../components/assets/imgs/FormBanner.png);
      background-size: cover;
      background-position: center;
      width: 1134px;
      height: 376px;
      box-shadow: 0px 4px 32px 0px rgba(0, 16, 61, 0.16);
      display: flex;
      align-items: center;
      border-radius: 10px;
      padding: 15px;
      .five_card_texts {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .form-sc_1_texts {
          h1 {
            color: rgba(44, 45, 46, 1);
            font-size: 32px;
            font-weight: 600;
            line-height: 40px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            span {
              color: rgb(239, 124, 0);
            }
            p {
              color: rgba(44, 45, 46, 1);
              font-size: 15px;
              font-weight: 400;
              line-height: 20px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              width: 400px;
            }
          }
        }
        form {
          display: flex;
          flex-direction: column;
          gap: 20px;
          align-items: start;
          input {
            width: 178px;
            height: 40px;
            top: 12px;
            left: 59px;
            gap: 10px;
            border-radius: 0px 4px 4px 0px;
            border: 1px;
            background: rgba(255, 255, 255, 1);
            border: 1px solid rgba(0, 16, 61, 0.12);
            outline: none;
            padding: 15px;
            font-family: "Montserrat", sans-serif;
            border-radius: 15px;
          }
          textarea {
            width: 446px;
            height: 80px;
            gap: 0px;
            border-radius: 4px;
            border: 1px;
            border: 1px solid rgba(0, 16, 61, 0.12);
            outline: none;
            border-radius: 15px;
            font-family: "Montserrat", sans-serif;
            padding: 15px;
          }
        }
        .send_btn {
          width: Hug (225px) px;
          height: Hug (40px) px;
          top: 300px;
          left: 20px;
          padding: 10px 20px 10px 20px;
          gap: 10px;
          border-radius: 4px;
          background: rgba(239, 124, 0, 1);
          color: #fff;
          border: none;
          cursor: pointer;
          font-family: "Montserrat", sans-serif;
          &:hover {
            background: rgba(239, 124, 0, 0.8);
            color: #fff;
          }
        }
      }
    }
  }
}
.section-six {
  h1 {
    color: rgba(44, 45, 46, 1);
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  span {
    color: rgb(239, 124, 0);
  }
  .person-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1050px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    .person_card1 {
      display: flex;
      align-items: center;
      flex-direction: column;
      h4 {
        color: rgba(44, 45, 46, 1);
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
      p {
        color: rgba(145, 147, 153, 1);
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
      span {
        color: rgba(44, 45, 46, 1);
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
      img {
        border-radius: 50%;
      }
    }
  }
}
